.textInputWrapper{
    display: flex;
    flex-direction: column;
    width: inherit;
    align-items: center;
}
.textInputWrapper input{
    padding: 15px 30px;
    margin: 10px;
    outline: none;
    width: 30%;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 18px;
}
.errorMessage{
    color: #da1b55;
    text-align: left;
    width:30%;
}